<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/deleteAccountFormData" method="POST">
        <input type="text" name="userName" id="" placeholder="Enter name to delete account">
        <input type="submit" value="SUBMIT">
    </form>
    <form action="/homeForm" method="post">
        <input type="submit" value="Go to login page">
    </form>
    
</body>
</html>