<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/homePageForm" method="post">
        <h1>Click your page</h1>

        <select name="selection">
            <option value="/">/</option>
            <option value="/find">/find</option>
            <option value="/findOneAndDelete">/findOneAndDelete</option>
        </select>

        <input type="submit" value="Submit">
    </form>
</body>
</html>